src/main/mule/weather-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
    <http:listener-config name="weather-app-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="10500" />
    </http:listener-config>
    <apikit:config name="weather-app-config" api="weather-app.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="b0bfdc73-9ea3-4bc7-a43b-57492911b33b">
        <wsc:connection wsdlLocation="global-weather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:49160/GlobalWeather" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
    </wsc:config>
    <flow name="weather-app-main">
        <http:listener config-ref="weather-app-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-app-console">
        <http:listener config-ref="weather-app-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getweather:weather-app-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	GetWeather:{
		CityName: attributes.queryParams.cityname,
		CountryName: attributes.queryParams.country
		
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="69d7e697-5bf1-44f6-9d50-4c27f9803e5b" config-ref="Web_Service_Consumer_Config" operation="GetWeather" />
		<set-payload value="#[payload.body]" doc:name="Set Payload" doc:id="bba94a83-8c44-469f-a357-6dcbc9395aef" />
		<java:invoke-static method="StringReplace(String)" doc:name="Invoke static" doc:id="15382523-a8c7-4911-af8c-9cb042cc7812" class="com.weatherapp.StringReplacement">
			<java:args ><![CDATA[#[output application/java
---

	payload: payload]]]></java:args>
		</java:invoke-static>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="69408864-bbf6-497f-9872-8a478c9708d6" mimeType="application/xml"/>
		<ee:transform doc:name="Transform Message" doc:id="05b82d18-e34f-4dd4-b269-591d0dea0d34">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Getweatherresponse: {
		Location: payload.GetWeatherResponse.NewDataSet.Location,
		Time: payload.GetWeatherResponse.NewDataSet.Time,
		Wind: payload.GetWeatherResponse.NewDataSet.Wind,
		Visibility:payload.GetWeatherResponse.NewDataSet.Visibility,
		SkyConditions:payload.GetWeatherResponse.NewDataSet.SkyConditions,
		Temperature:payload.GetWeatherResponse.NewDataSet.Temperature,
		DewPoint:payload.GetWeatherResponse.NewDataSet.DewPoint,
		RelativeHumidity:payload.GetWeatherResponse.NewDataSet.RelativeHumidity,
		Status:payload.GetWeatherResponse.NewDataSet.Status
	}
	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="507ad7f6-d6ad-4a18-b8e9-5a298a281969" message="#[payload]"/>
    </flow>
	<flow name="get:\getcitiesbycountry:weather-app-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	GetCitiesByCountry:{
		CountryName: attributes.queryParams.countryname
				
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="a1eb41ec-fee9-4d05-9b76-e59c19cc1eb7" config-ref="Web_Service_Consumer_Config" operation="GetCitiesByCountry"/>
		<set-payload value="#[payload.body]" doc:name="Set Payload" doc:id="b68e3006-d748-4c48-8bcc-2692f4299f1c" mimeType="application/xml"/>
		<java:invoke-static method="StringReplace(String)" doc:name="Invoke static" doc:id="63a4117a-704d-4261-a443-ae3f366271d4" class="com.weatherapp.StringReplacement">
			<java:args ><![CDATA[#[output application/java
---

	payload: payload]]]></java:args>
		</java:invoke-static>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6e407854-15f4-4346-8950-b27f3871f802" mimeType="application/xml"/>
		<ee:transform doc:name="Transform Message" doc:id="157dbb70-dcd1-4b17-94f4-c0e917c51db5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	GetCitiesByCountryresponse:{
		country: payload.GetCitiesByCountryResponse.NewDataSet.Table.Country,
		cities: payload.GetCitiesByCountryResponse.NewDataSet.*Table.City
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cb2e60b7-b882-4898-8f1e-29bf3274cd47" message="#[payload]"/>
    </flow>
</mule>
